@model IEnumerable<PlataformaNetworking.Models.Vaga>

@{
    ViewData["Title"] = "Default";
}

<div class="w3-col m12">
    <div class="w3-card w3-round w3-white">
        <div class="w3-container w3-padding">
            <h6 class="w3-opacity">Publique</h6>
            <form method="post" id="formNewPostagem">
                <input type="text" name="TituloVaga" placeholder="Titulo" id="TituloVagaFormulario" class="w3-border w3-padding w-100" />
                <textarea name="ConteudoVaga" placeholder="Conteudo da Vaga" id="ConteudoVagaFormulario" class="w3-border w3-padding w-100"></textarea>
                <input type="hidden" name="Imagem" id="ImagemPost" />


                <br />
                <button type="submit" class="w3-button w3-theme"><i class="fa fa-pencil"></i> &nbsp;Publicar</button>
            </form>
        </div>
    </div>
</div>