@model IEnumerable<PlataformaNetworking.Models.Vaga>

@{
    ViewData["Title"] = "Default";
}

@section Scripts{
    <script src="~/js/uploadImagem.js"></script>
}


<div class="card gedf-card">
    <div class="card-body">
        <div class="tab-content" id="myTabContent">

            <div class="form-group">
                <form method="post" id="formNewVaga">
                    <input type="text" name="Titulo" placeholder="Titulo" id="TituloVagaFormulario" class="w3-border w3-padding w-100" />
                    <br />
                    <textarea name="Conteudo" placeholder="Conteudo da Vaga" id="ConteudoVagaFormulario" class="w3-border w3-padding w-100"></textarea>

                    <br />
                    <button type="submit" class="btn btn-primary">Publicar</button>
                </form>
            </div>

        </div>

    </div>
</div>


