

@{
    ViewData["Title"] = "View";
}



<div class="card gedf-card mt-2">
    <div class="card-body">
        <h5 class="card-title">Pedido de Amizade</h5>
        <p class="card-text">
            <div class="mr-2">
                <img class="rounded-circle" width="100" src="https://picsum.photos/50/50" alt="">
            </div>
        </p>
        <h6 class="card-subtitle mb-2 text-muted">Nome usuario</h6>
        <a href="#" class="card-link">Aceitar</a>
        <a href="#" class="card-link">Recuser</a>
    </div>
</div>

