@model IEnumerable<PlataformaNetworking.Models.ViewModels.HomeViewModel>


@{
    foreach (var item in Model)
    {
        <div class="card-body">
            <p class="w3-center">
                <div class=" containerPerfil" id="triggerUploadClick">
                    <img src="@(item.Usuario.ProfilePictureUrl == null ? "~/images/avatar2.png" : item.Usuario.ProfilePictureUrl)" class="rounded-circle imagemPerfil" alt="Avatar">
                </div>
            </p>
            <div class="h5">@item.Usuario.Nome @item.Usuario.Sobrenome</div>
            <div class="h7 text-muted">@item.Usuario.GetType().Name</div>
        </div>
    }
}




