@model PlataformaNetworking.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Perfil";
    string usuario = Model.Usuario.Nome + " " + Model.Usuario.Sobrenome;
    string curso = Model.Usuario.Curso;
    string email = Model.Usuario.Email;
    string nascimento = Model.Usuario.DataNascimento.ToString("MM/dd/yyyy");
    string imagemPerfil = Model.Usuario.ProfilePictureUrl == null ? "~/images/avatar2.png" : Model.Usuario.ProfilePictureUrl;
}

<h2>Perfil</h2>



<div class="w3-card w3-round w3-white col-lg-6" style="padding: 20px;">
    <div class="w3-container">
        <div class="w3-content"><h3><b>@usuario</b></h3></div>
        <p class="w3-center">
            <div class=" containerPerfil" id="triggerUploadClick">
                <img src=" @(@imagemPerfil == null ? "/images/avatar2.png" : @imagemPerfil)" class="w3-circle imagemPerfil" alt="Avatar" id="imagemPerfilAlterar">
                <div class="overlay">
                    <a href="#" class="icon" title="User Profile">
                        <i class="fa fa-camera"></i>
                    </a>
                </div>
                <input type="file" name="uploadFotoPerfil" class="d-none" accept="image/png, image/jpeg" id="campoUploadImagem" />
            </div>
        </p>
        <div class="formAlterarImagemUsuario d-none">
            <form method="post" id="formAlterarImagem">
                <input name="ProfilePictureUrl" id="campoInputNovaImagem" type="text" value="@Model.Usuario.ProfilePictureUrl" />
            </form>
        </div>
        <hr>
        <p>
            <i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Estudante de @curso
        </p>

        <p>
            <i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i> @email
        </p>
        <p>
            <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> @nascimento
        </p>
        @await Component.InvokeAsync("Curriculo", new { id = Model.Usuario.Id })
    </div><br />
</div>

</div>
<br />

<li class="list-group-item">
    <div class="h5 text-muted">Conhecimentos e Recomendações</div>
    <div>
        @await Component.InvokeAsync("Habilidades", Model.Usuario.Id)
    </div>
</li>


@section Scripts{
    <script src="~/js/uploadImagem.js"></script>

}