@model PlataformaNetworking.Models.Curriculo

@{
    ViewData["Title"] = "View";
}

@{
    <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme">Meu Curriculo: <a href="/Aluno/DownloadFileFromDatabase/@Model.Id">@Model.Nome</a> </i>
}


