@model List<PlataformaNetworking.Models.Habilidade>

@{
    ViewData["Title"] = "Default";
}
    
        @foreach (var item in Model)
        {
            <span class="badge badge-primary">@item.NomeHabilidade</span>
        }
        

