@model PlataformaNetworking.Models.Entrevista

@{
    ViewData["Title"] = "View";
}

@{
    if (Model != null)
    {
    <div class="alert alert-success" role="alert">
        Parabéns! Sua entrevista foi agendada.
        <br /><br />
        <b>Endereço da entrevista</b>: @Model.Endereco
        <br />
        <b>Data da entrevista</b>: @Model.Data.ToString("dd/MM/yyyy HH:mm")
        
    </div>
    }
    else
    {
         <div class="alert alert-warning" role="alert"> Sua entrevista não foi agendada ainda.</div>
    }

}


