@model PlataformaNetworking.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Vagas";
    //string uploadimagem = Model.UploadPictureUrl == null ? "~/images/avatar3.png" : Model.UploadPictureUrl;
}


<!-- Page Container -->
<div class="container-fluid gedf-wrapper mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                @await Component.InvokeAsync("Usuario")
                @await Component.InvokeAsync("Painel")
            </div>
        </div>
        <div class="col-md-6 gedf-main">



            @{

                if (Model.Usuario.GetType().Name == "Empresa")
                {
                    @await Component.InvokeAsync("PublicacaoVaga")
                }
            }


            <!--chamar View component aqui-->
            @{
                if (Model.Usuario.GetType().Name == "Empresa")
                {
                    @await Component.InvokeAsync("ConteudoVagaEmpresa")
                }

                else if (Model.Usuario.GetType().Name == "Aluno")
                {
                    @await Component.InvokeAsync("ConteudoVagaAluno")
                }
            }

        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/uploadImagem.js"></script>
}